
@{
    Html.RenderPartial("/Views/Shared/Breadcrumb.cshtml");
}

<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>
                        Esta tarea vale 4 puntos que se reparten de la sgte manera:

* Los dos primeros punto se obtienen imprimiendo en html utilizando mvc net core (arrays o lista, estructura de control tipo loops como for o foreach) la tabla periódica con la estructura correcta como se presenta en la imagen adjunta, solo debe colocarse el símbolo del elemento, los elementos deben de estar guardado en un array o lista.

* El tercer punto agrupando los elementos por colores, ejemplos los elementos alcalinos deben tener un color y los metaloides otro, se debe colocar una leyenda sobre cual color le pertenece a cual grupo como esta al final de la imagen adjunta,para esto pueden usar estructura de control como el if.

* El último y cuarto punto se obtiene si usted valida que al borrar un elemento o varios elementos del array la estructura de la tabla se mantiene y donde debe estar el o los elementos eliminado se imprime un cuadro vacío con un color gris de fondo 
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-8" id="pagians"></div>
</div>

