
@{
    Html.RenderPartial("/Views/Shared/Breadcrumb.cshtml");
}
@model List<Tareas.Models.Elemento>
@using Tareas.Models;
<div>
    <h3>Tarea 2</h3>
    <p>
Esta tarea vale 4 puntos que se reparten de la sgte manera:
<br/>
* Los dos primeros punto se obtienen imprimiendo en html utilizando mvc net core (arrays o lista, estructura de control tipo loops como for o foreach) la tabla periódica con la estructura correcta como se presenta en la imagen adjunta, solo debe colocarse el símbolo del elemento, los elementos deben de estar guardado en un array o lista.
<br/>
* El tercer punto agrupando los elementos por colores, ejemplos los elementos alcalinos deben tener un color y los metaloides otro, se debe colocar una leyenda sobre cual color le pertenece a cual grupo como esta al final de la imagen adjunta,para esto pueden usar estructura de control como el if.
<br/>
* El último y cuarto punto se obtiene si usted valida que al borrar un elemento o varios elementos del array la estructura de la tabla se mantiene y donde debe estar el o los elementos eliminado se imprime un cuadro vacío con un color gris de fondo 
    </p>
</div>
<div>
    <h1>Tabla Periodica de los Elementos</h1>
    

@{
    /*
    ******Algoritmo de ordenamiento de la tabla periodica******

    el <Model> es una lista con todos los elementos
    clasificados por tipo y subtipo.

    por tipo me refiero a (metales, metaloides, no metales)
    por subtipo me refiero a (alcalinos alcalinos terreos, gases nobles etc),
    es decir a las clasificacioens que hay dentro de la primera clasificacion.
    */

    //chequeo que la lista de elemetos tenga datos
    if(Model != null && Model.Any()){

        //periodo
        for(var i=1;i<=10;i++)
        {
            <div class="btn-group" role="group" aria-label="Basic example">
            <!--grupo-->
            @for(var j=1;j<=18;j++)
            {
                if(Model.Any(x=> x.Periodo == i && x.Grupo == j)){
                    var element = Model.FirstOrDefault(x=> x.Periodo == i && x.Grupo == j);
                    var color = element.Tipo == SubTipo.Alcalinos?"#4a235a"
                    :element.Tipo == SubTipo.Alcalinos_Terreos?" #a569bd"
                    :element.Tipo == SubTipo.Lantinidos?"#dc7633"
                    :element.Tipo == SubTipo.Actinidos?"#f5b7b1"
                    :element.Tipo == SubTipo.Metales_Transicion?"#f39c12"
                    :element.Tipo == SubTipo.OtrosMetales?"#f1c40f"
                    :element.Tipo == SubTipo.OtrosNoMetales?"#27ae60"
                    :element.Tipo == SubTipo.Halogenos?"#5dade2"
                    :element.Tipo == SubTipo.GasesNobles?"#2874a6"
                    :element.Tipo == SubTipo.Metaloides?"#f9e79f"
                    :"";
                    <button onclick="alert('@(element.Nombre)')" style="width: 50px;background-color:@(color);" type="button" class="btn">@element.Simbolo</button>
                }
                else
                {
                    <div class="btn" style="width: 50px;"></div>
                }
            }
            </div>
            <br/>
        }
    }
}
<style>
    .cuadro{
        width: 15px;
        height: 15px;
        border: 1cm;
    }
</style>
<div>
    <h4>Leyenda</h4>
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                Alcalinos 
                <div class="cuadro" style="background: #4a235a;"></div>
            </td>
            <td>
                Alcalinos Terreos 
                <div style="background: #a569bd;" class="cuadro"></div>
            </td>
            <td>
                Lantinidos
                <div style="background: #dc7633;" class="cuadro"></div>
            </td>
            <td>
                Actinidos 
                <div style="background: #f5b7b1;" class="cuadro"></div>
            </td>
            <td>
                Metales Transicion 
                <div style="background: #f39c12;" class="cuadro"></div>
            </td>
            <td>
                Otros Metales 
                <div style="background: #f1c40f;" class="cuadro"></div>
            </td>
            <td>
                Otros No Metales 
                <div style="background: #27ae60;" class="cuadro"></div>
            </td>
            <td>
                Halogenos 
                <div style="background: #5dade2;" class="cuadro"></span>
            </td>
            <td>
                Gases Nobles 
                <div style="background: #2874a6;" class="cuadro"></div>
            </td>
            <td>
                Metaloides 
                <div style="background: #f9e79f;" class="cuadro"></div>
            </td>
        </tr>
    </table>

    <ul>
        
    </ul>
</div>
</div>
