
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <!--<li class="breadcrumb-item"><a href="/home/index">Home</a></li>-->
    @if(ViewData["Route"] != null){
        var list = ViewData["Route"] as List<HomeButtonsRequest>;
        foreach (var item in list)
        {
            if(item.Equals(list.Last())){
                <li class="breadcrumb-item active" aria-current="page">@item.Text</li>
                break;
            }
            <li class="breadcrumb-item"><a href="/@(item.ActionName)/index">@item.Text</a></li>
        }
    }
  </ol>
</nav>



