@{
    ViewData["Title"] = "Tarea 1, ITLA";
}

<div class="row">
    <div class="card col-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li onclick="AddPartial('/home/p1')" class="list-group-item">Primer ejercicio (click para ver)</li>
            <li onclick="AddPartial('/home/p2')" class="list-group-item">Segundo ejercicio (click para ver)</li>
            <li onclick="AddPartial('/home/p3')" class="list-group-item">Tercer ejercicio (click para ver)</li>
        </ul>
    </div>
    <div id="paginas" class="col-8">
        @{
            Html.RenderPartial("~/Views/Home/partials/p1.cshtml");
        }
    </div>
</div>
<script>
    
    function AddPartial(_url){
        $.get(_url).done(function(_html){
            $("#paginas").html(_html);
        }).fail(function(error){
            alert(error.statusText);
        });
    }

    function submitForm(idForm){
        let form = $("#"+idForm);
        $.post(form.attr("action"), form.serialize()).done(function(_html){
            $("#paginas").html(_html);
        }).fail(function(error){
            alert(error.statusText);
        });
    }
</script>
