
@model Tareas.Tools.IPagination<Tareas.Models.TipoListResponse>

<h3>Nuevo Tipo</h3>

<div class="btn-group mb-3 d-flex float-right">
    <a href="/Tarea4/NewTipo" class="btn btn-success">Nuevo Tipo</a>
    <a href="/Tarea4/IndexPokemon" class="btn btn-danger">Volver</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.ListaDatos != null && Model.ListaDatos.Any())
        {
            foreach(var item in Model.ListaDatos)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>
                        <a href="/Tarea4/EditTipo?id=@(item.Id)" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="2">No hay datos para mostrar</td></tr>
        }
    </tbody>
</table>

@{
    Html.RenderPartial("_LayoutPaginator", Model);
}
