
@model Tareas.Tools.IPagination<Tareas.Models.PokemonListResponse>

@Html.ValidationSummary("", new {})

<h3>Lista pokemones</h3>
<div class="btn-group d-flex float-right mb-3">
    <a class="btn btn-success" href="/Tarea4/NewPokemon">Nuevo pokemon</a>
    <a class="btn btn-primary" href="/Tarea4/IndexRegion">Ver Regiones</a>
    <a class="btn btn-info" href="/Tarea4/IndexTipo">Ver Tipos</a>
</div> 


<table class="table table-bordered- table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Region</th>
            <th>Tipo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.ListaDatos.Any())
        {
            foreach(var item in Model.ListaDatos)
            {
                <tr>
                    <td>@item.nombre</td>
                    <td>@item.region</td>
                    <td>@item.tipo</td>
                    <td></td>
                </tr>
            }
        }
        else{
            <tr>
                <td colspan="4">No hay datos pora mostrar</td>
            </tr>
        }
    </tbody>
</table>

@{ 
    Html.RenderPartial("~/Views/Shared/_LayoutPaginator.cshtml", Model);
}


